<style>
  input {font-size: 1rem}
  #message {color: crimson}
  input[type=submit] {width: fit-content}
</style>

<div class="container">
  <h1 style="text-align: center">Adicionar curso</h1>
  <form action="/admin/adicionar-polo" method="POST">
    Nome:<br><input name="name"><br><br>
    Telefone:<br><input name="phone"><br><br>
    Endereço<br><input name="address"><br><br>
    <span id="message">{{message}}</span>
    <input type="submit" value="Enviar">
  </form>
</div>