<div id="sidebar">
  <h1>Admin</h1>
  <a href="/admin" class="nav-link">Dashboard</a>
  <a href="/admin/componentes" class="nav-link active">Alterar Componentes</a>
  <a href="/admin/polos" class="nav-link">Gerenciar Polos</a>
  <a href="/admin/usuarios" class="nav-link">Gerenciar Usuários</a>
  <a href="/admin/cursos" class="nav-link">Gerenciar Cursos</a>
  <a href="/admin/provedores" class="nav-link">Gerenciar Parceiros</a>
  {{!-- <a href="/admin/sql" class="nav-link">Ferramenta SQL</a> --}}
  <br><br>
  <a href="/">Voltar para Home</a>
</div>
<div id="content">
  <div>
    <h2>Alterar Componentes das Páginas</h2>
    <div class="container p-3 mx-2 mt-5 bg-secondary-subtle">
      <h3>Informações Base</h3>
      <form class="mt-5" action="/admin/alterar-informacoes" method="POST">
        <label class="form-label" for="name">Nome da empresa</label>
        <input class="form-control" name="name" id="name" value="{{defaults.name}} ">
        <label class="form-label mt-3" for="phone">Telefone Padrão</label>
        <input class="form-control" name="phone" id="phone" value="{{defaults.phone}} ">
        <label class="form-label mt-3" for="email">Email de contato</label>
        <input class="form-control" name="email" id="email" value="{{defaults.email}} ">
        <div class="text-danger mt-3">{{message}}</div>
        <input class="btn btn-primary mt-3" type="submit">
        <label class="form-label" for="logo"></label>
      </form>
    </div>
    <div class="container p-3 mx-2 my-4 bg-secondary-subtle">
      <h3>Imagens</h3>
      <form class="mt-5" action="/admin/alterar-logo" method="POST" enctype="multipart/form-data">
        <label class="form-label" for="logo">Logo</label>
        <input class="form-control" type="file" name="logo" id="logo" accept="image/png, image/jpg, image/jpeg">
        <input class="btn btn-primary mt-2" type="submit">
      </form>
      <form class="mt-2" action="/admin/alterar-carrossel-1" method="POST" enctype="multipart/form-data">
        <label class="form-label" for="carousel1">Carrossel 1</label>
        <input class="form-control" type="file" name="carousel1" id="carousel1" accept="image/png, image/jpg, image/jpeg">
        <input class="btn btn-primary mt-2" type="submit">
      </form>
      <form class="mt-2" action="/admin/alterar-carrossel-2" method="POST" enctype="multipart/form-data">
        <label class="form-label" for="carousel2">Carrossel 1</label>
        <input class="form-control" type="file" name="carousel2" id="carousel2" accept="image/png, image/jpg, image/jpeg">
        <input class="btn btn-primary mt-2" type="submit">
      </form>
      <form class="mt-2" action="/admin/alterar-carrossel-3" method="POST" enctype="multipart/form-data">
        <label class="form-label" for="carousel3">Carrossel 1</label>
        <input class="form-control" type="file" name="carousel3" id="carousel3" accept="image/png, image/jpg, image/jpeg">
        <input class="btn btn-primary mt-2" type="submit">
      </form>
    </div>
  </div>
</div>
<script src="/static/js/admin.js"></script>