<div id="sidebar">
	<h1>Admin</h1>
	<a href="/admin" class="nav-link active">Dashboard</a>
	<a href="/admin/componentes" class="nav-link">Alterar Componentes</a>
	<a href="/admin/polos" class="nav-link">Gerenciar Polos</a>
	<a href="/admin/usuarios" class="nav-link">Gerenciar Usuários</a>
	<a href="/admin/cursos" class="nav-link">Gerenciar Cursos</a>
  <a href="/admin/provedores" class="nav-link">Gerenciar Parceiros</a>
	{{!-- <a href="/admin/sql" class="nav-link">Ferramenta SQL</a> --}}
	<br><br>
	<a href="/">Voltar para Home</a>
</div>
<div id="content">
	<section id="dashboard">
		<h2>Painel do Administrador</h2>
    <p>Utilize a barra ao lado esquerdo para acessar as funcionalidades.</p>
	</section>
</div>
<script src="/static/js/admin.js"></script>