<div id="sidebar">
	<h1>Admin</h1>
	<a href="/admin" class="nav-link">Dashboard</a>
	<a href="/admin/componentes" class="nav-link">Alterar Componentes</a>
	<a href="/admin/polos" class="nav-link">Gerenciar Polos</a>
	<a href="/admin/usuarios" class="nav-link">Gerenciar Usuários</a>
	<a href="/admin/cursos" class="nav-link">Gerenciar Cursos</a>
	<a href="/admin/sql" class="nav-link active">Ferramenta SQL</a>
	<br><br>
	<a href="/">Voltar para Home</a>
</div>
<div id="content">
  <section id="sql-tool">
		<h2>Ferramenta SQL</h2>
		<textarea id="query"></textarea>
		<br>
		<input id="query-submit" type="submit">
		<br><br>
		Resultado:<br>
		<textarea readonly id="query-result"></textarea>
	</section>
</div>
<script src="/static/js/admin.js"></script>