<style>
  input {font-size: 1rem;}
  #message {color: crimson;}
  input[type=submit] {width: fit-content;}
  form {flex-direction: column; gap: 1rem}
</style>

<div class="container w-50">
  <h1 style="text-align: center">Adicionar curso</h1>
  <form class="d-flex" action="/admin/adicionar-curso" method="POST">
    <div>
      <label class="form-label" for="name">Nome:</label>
      <input class="form-control" name="name" id="name">
    </div>
    <div>
      <label class="form-label" for="durationMonths">Duração (meses):</label>
      <input class="form-control" name="durationMonths" id="durationMonths" type="number">
    </div>
    <div>
      <label class="form-label" for="hours">Duração (horas):</label>
      <input class="form-control" name="hours" id="hours" type="number">
    </div>
    <div class="form-check">
      <label class="form-check-label" for="isAvailable">Inscrições Abertas?</label>
      <input class="form-check-input" name="isAvailable" id="isAvailable" type="checkbox">
    </div>
    <div>
      <label class="form-label" for="degree">Grau (graduação ou pós-graduação):</label>
      <input class="form-control" name="degree" id="degree">
    </div>
    <div>
      <label class="form-label" for="qualification">Qualificação (bacharelado, tecnólogo, 2ª licenciatura):</label>
      <input class="form-control" name="qualification" id="qualification">
    </div>
    <div>
      <label class="form-label" for="style">Modalidade (presencial ou remoto):</label>
      <input class="form-control" name="style" id="style">
    </div>
    <div>
      <label class="form-label" for="url">URL:</label>
      <input class="form-control" name="url" id="url">
    </div>
    <div class="form-check">
      <label class="form-check-label" for="isHighlighted">Em destaque?</label>
      <input class="form-check-input" name="isHighlighted" id="isHighlighted" type="checkbox">
    </div>
    <div>
      <label class="form-label" for="description">Descrição</label>
      <textarea class="form-control" name="description" id="description" rows="10"></textarea>
    </div>
    <span id="message">{{message}}</span>
    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>
</div>