<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<h1>{{error}}</h1>
<h2>{{message}}</h2>
<h3><a href="/">Ir para início</a></h3>
<style>
  body {
    font-family: 'Montserrat';
    background-color: rgb(20,20,20);
    color: aliceblue;
    text-align: center;
  }
  h1 {
    font-size: 4rem;
  }
</style>