<style>
    input {
        font-size: 1rem;
    }

    #message {
        color: crimson;
    }

    input[type=submit] {
        width: fit-content;
    }

    form {
        flex-direction: column;
        gap: 1rem;
    }
</style>

<form class="d-flex" action="/admin/alterar-imagem-curso/{{course.id}}" method="POST" enctype="multipart/form-data">
    <div>
        <label class="form-label" for="imagemCurso">Imagem do curso: </label>
        <input type="file" id="imagemCurso" name="imagemCurso" accept="image/png, image/jpg, image/jpeg" /> <br>
        <input class="btn btn-primary" type="submit" value="Enviar">
    </div>
</form>