<div class="row justify-content-center my-5">
  <div class="col-12 col-md-9 col-lg-6 bg-secondary-subtle p-5">
    <h1 class="text-center">Login</h1>
    <form class="d-flex" style="flex-direction: column; gap:1rem" action="/login" method="post">
      <div>
        <label class="form-label" for="email" class="bg-unp-red-1">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
      </div>
      <div>
        <label class="form-label" for="password" class="bg-unp-red-1">Senha</label>
        <input class="form-control" type="password" id="password" name="password" required>
      </div>
      <div>
        <input class="btn btn-primary btn-lg" type="submit" value="Entrar">
      </div>
      <span class="text-danger">{{message}}</span>
    </form>
    <br>
    <div>
      Não possui uma conta?<br>
      <a href="/registrar">Registrar-se</a>
    </div>
    <br>
    <div>
      Esqueceu sua senha?<br>
      <a href="/resetar-senha">Esqueci minha senha</a>
    </div>
  </div>
</div>