<style>
  input {font-size: 1rem;}
  #message {color: crimson;}
  input[type=submit] {width: fit-content;}
  form {flex-direction: column; gap: 1rem}
</style>

<div class="container w-50">
  <h1 style="text-align: center">Adicionar Provedor</h1>
  <form class="d-flex" action="/admin/adicionar-provedor" method="POST">
    <div>
      <label class="form-label" for="name">Nome:</label>
      <input class="form-control" name="name" id="name">
    </div>
    <div>
      <label class="form-label" for="description">Descrição</label>
      <textarea class="form-control" name="description" id="description" rows="10"></textarea>
    </div>
    <div>
      <label class="form-label" for="url">URL</label>
      <input class="form-control" name="url" id="url">
    </div>
    <span id="message">{{message}}</span>
    <input class="btn btn-primary" type="submit" value="Enviar">
  </form>
</div>