<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-6 p-3 bg-secondary-subtle">
    <h4>Alterar dados cadastrais</h4>
    <p>Enviamos um código de confirmação para o seu email:</p>
    {{email}}
    <form class="d-flex" style="flex-direction: column; gap: 1rem" action="/conta/atualizar-dados-confirmar" , method="POST">
      <div>
        <label class="form-label pt-5" for="authCode">Insira o código abaixo</label>
        <input class="form-control" name="authCode" id="authCode" required>
      </div>
      <div>
        <input class="btn btn-success" value="Enviar">
      </div>
    </form>
  </div>
</div>