<div class="container p-5">
  <section>
    <h1>Dados da Conta<hr></h1>
    <span>
      Nome: {{user.displayName}}
      <br>
      <a href="/conta/alterar/nome" class="btn btn-primary">Alterar</a>
    </span>
    <br>
    <br>
    <span>
      Email: {{user.email}}
      <br>
      <a href="/conta/alterar/email" class="btn btn-primary">Alterar</a>
    </span>
    <br><br><br>
    <a href="/conta/alterar/senha" class="btn btn-primary">Alterar Senha</a>
    &nbsp;
    <a href="/conta/apagar" class="btn btn-danger">Apagar Conta</a>
  </section>
</div>