<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-6 p-4 bg-secondary-subtle">
    <h3 class="text-center">Alterar Senha</h3>
    <form class="d-flex" style="flex-direction: column; gap: 1rem" action="/resetar-senha/{{token}}" method="POST">
      <div>
        <label class="form-label" for="password">Nova senha</label>
        <input class="form-control" type="password" name="password" id="password" required>
      </div>
      <div>
        <label class="form-label" for="passwordConfirm">Confirmar nova senha</label>
        <input class="form-control" type="password" name="passwordConfirm" id="passwordConfirm" required>
      </div>
      <div class="text-danger">
        {{message}}
      </div>
      <div>
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>