<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-6 p-4 bg-secondary-subtle">
    <h4 class="text-center">Email enviado.</h4>
    <p>Foi enviado um email contendo informações de como redefinir sua senha.</p>
  </div>
</div>