<div class="text-center">
  <h1>Perguntas Frequentes</h1>
</div>
{{#each faqs}}
  <details>
    <summary class="bg-unp-red-1" role="button">{{question}}</summary>
    <p>{{answer}}</p>
  </details>
{{/each}}