<div class="row justify-content-center">
  <div class="col-12 col-md-9 col-lg-6 p-4 bg-secondary-subtle">
    <h3>Seu pedido de inscrição foi realizado!</h3>
    <p>Aguarde enquanto um administrador processa seu pedido</p>
    <a href="/">Voltar para home</a>
  </div>
</div>