<div class="row justify-content-center mb-5">
  <div class="col-12 col-md-9 col-lg-7 bg-secondary-subtle p-5">
    <h3 class="text-center mb-4">Criar Conta</h3>
    <form class="d-flex" style="flex-direction: column; gap:1rem" action="/registrar" method="post">
      <div class="row g-3">
        <div class="col-12 col-xxl-6">
          <label class="form-label" for="fullLegalName" class="bg-unp-red-1">Nome Completo (como consta no RG/CPF) <span
              class="text-danger">*</span></label>
          <input class="form-control" type="text" id="fullLegalName" name="fullLegalName" required>
        </div>
        <div class="col-12 col-xxl-6">
          <label class="form-label" for="displayName" class="bg-unp-red-1">Nome Social (opcional)</label>
          <input class="form-control" type="text" id="displayName" name="displayName">
        </div>
      </div>
      <div class="w-75">
        <label class="form-label" for="email" class="bg-unp-red-1">Email <span class="text-danger">*</span></label>
        <input class="form-control" type="email" id="email" name="email" required>
      </div>
      <div class="w-75">
        <label class="form-label" for="phone" class="bg-unp-red-1">Telefone <span class="text-danger">*</span></label>
        <input class="form-control" type="text" id="phone" required>
      </div>
      <div>
        <input class="btn btn-primary btn-lg" type="submit" value="Criar conta">
      </div>
      <span class="text-danger">{{message}}</span>
    </form>
    <br>
    <div>
      Já possui uma conta?<br>
      <a href="/login" class="unp-link-light active">Entrar</a>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
  const input = document.querySelector("#phone");
  const iti = intlTelInput(input);
  const number = iti.getNumber();

  window.intlTelInput(input, {
    utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
    hiddenInput: "phone",
    initialCountry: "br",
    separateDialCode: true,
  });
</script>